* {
  font-family: 'Noto Sans JP', sans-serif;
}

html, body {
  overscroll-behavior: none;
}

header {
    text-align: center;
    font-size: 50px;
}

.jumbotron {
  background-color: rgb(11, 124, 184);
  color: white;
}

ul {
    margin: 3rem auto;
    font-size: 1.75rem;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    font-size: 18px;
  }


.current-city-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  font-size: 20px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: solid rgb(11, 124, 184);
}

.five-day-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.list-group-item {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  padding: 25px;
}

h3 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 5px;
  font-size: 36px;
  font-style: bold;
}

h5 {
  text-align: center;
}

.btn-block {
  font-size: 16px;
}